
body {
}



header
{
    z-index: 1030;
    background-color: rgb(17, 42, 99);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2) !important;
    height: 80px !important;
    
}


#logo {
    margin-left: 20px !important;
    position: relative; 
    z-index: 2;
}

#botoesheader
{
    margin-left: 20px !important;
}


/* Ajuste a largura máxima */
#carrosel {
    
    max-width: 800px;
    margin: 0 auto;
    height: 400px; /* Altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem */
  }
  
 