body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Ajuste a largura máxima do carrossel */
#carrosel {
  max-width: 800px;
  margin: 0 auto;
  height: 400px; /* Altura desejada */
  object-fit: cover; /* Mantém a proporção da imagem */
}

footer {
  margin-top: 100px;
  color: white;
  background-color: #272343;
}

.item:hover {
  color: rgb(54, 147, 209) !important; 
  transition: color 0.5s ease !important;
}

.quemsomos {
  margin-top: 70px !important;
  margin-bottom: 30px !important;
}

#btn_cadastro_header{
  margin-left: 8rem;
}

#btn_login_header{
  margin-left: 7rem;
}

#btn_login_header_cadastro{
  margin-left: 15rem;
}