






#logo {
    margin-left: 20px !important;
    position: relative; 
    z-index: 2;
}

#botoesheader
{
    margin-left: 20px !important;
}


/* Ajuste a largura máxima */
#carrosel {
    
    max-width: 800px;
    margin: 0 auto;
    height: 400px; /* Altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem */
  }
  

  footer{
    margin-top: 100px;
    color: white;
    background-color: #272343;
  }
 

  .item:hover{
    color: rgb(54, 147, 209) !important; 
    transition: color 0.5 ease !important;
}





#container_quemsomos{
    margin-top: 200px !important;
    margin-bottom: 200px !important;
}