.form-container {
    max-width: 400px;
    padding: 30px;
    border: 1px solid #0c0909;
    border-radius: 5px;
    background-color: #272343;
    color: white;
    
}
.image-container img {
    position: fixed;         
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-position: center;
    z-index: -1;             

}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}