/* styleedu_1.1.css */
body {
  
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}


.container_header{
  display: flex;
  flex-direction: column;
  background-color: #272343;
  

}






.container_info{
  display: flex;
  flex-direction: column;
  
}

.container_info_1{
  justify-content: center;
  align-items: center;
}